html{
  scroll-behavior: smooth;
}

body{
  background-color: #f5f5f7;
}
/* Navbar burger menu */
.navbar{
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-toggler {
  border-color: rgba(0,0,0,.1);
} 

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#header{
  padding-bottom: 50px;
  background-color: #fff;
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 96%, 65% 100%, 21% 98%, 0 91%, 0% 43%, 0 0);

}

.caption{
  color: #b74c42;
  font-weight: 500;
  font-size: 50px;
}

#about{
  background-color: #272727;
}

.formContainer{
  border: 1px solid black;
  margin-top: 30px;
  width: min(100vw, 450px);
  padding: 2%;
}

input, .form-btn{
  width: 100%;
  margin-top: 10px;
}

input{
  padding-left: 2vh;
  border: 1px solid lightgray;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
}